@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .iconMarker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    /* border-radius: 100%; */
    user-select: none;
    transform: translate(-50%, -100%);
    }
}

/* LOGIN AND REGISTRATION */
